[submodule "public"]
	path = public
	url = git@github.com:SyuheyK/SyuheyK.github.io.git
	branch = master
[submodule "public/public"]
	path = public/public
	url = https://github.com/SyuheyK/SyuheyK.github.io.git
	branch = master
